@font-face {
	font-family: 'League Gothic';
	src: url('../resources/fonts/leaguegothic-regular-webfont.eot');
	src: url('../resources/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../resources/fonts/leaguegothic-regular-webfont.woff') format('woff'), url('../resources/fonts/leaguegothic-regular-webfont.ttf') format('truetype'), url('../resources/fonts/leaguegothic-regular-webfont.svg') format('svg');
}
@font-face {
	font-family: 'Chalet';
	src: url('../resources/fonts/chaletlondonnineteensixty-webfont.eot');
	src: url('../resources/fonts/chaletlondonnineteensixty-webfont.eot?#iefix') format('embedded-opentype'), url('../resources/fonts/chaletlondonnineteensixty-webfont.woff') format('woff'), url('../resources/fonts/chaletlondonnineteensixty-webfont.ttf') format('truetype'), url('../resources/fonts/chaletlondonnineteensixty-webfont.svg') format('svg');
}

body {
	font-family: "Chalet", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3 {
	font-family: "League Gothic", Impact, sans-serif;
	text-transform: uppercase;
}
a {
	transition: color 0.3s,opacity 0.3s;
}
a:hover {
	text-decoration: none;
}
iframe {
	max-width: 100%;
}
.banner {
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
}
.banner .image-container {
	display: block;
	height: 215px;
	overflow: hidden;
	position: relative;
}
.banner .image-container .social-media-icons {
	position: absolute;
	right: 30px;
	top: 0;
	width: 145px;
	z-index: 10;
}
.banner .image-container .social-media-icons li {
	list-style: none;
	float: left;
	height: 30px;
	padding-left: 5px;
	width: 35px;
}
.banner .image-container .social-media-icons li a {
	display: block;
}
.banner .image-container .social-media-icons li a:hover {
	opacity: 0.7;
}
.banner .image-container > img {
	margin-left: -1500px;
	position: absolute;
	left: 50%;
}
.banner h1,
.banner h2 {
	margin: 0;
	padding: 10px 15px;
}
.banner h1 {
	background-color: #fff200;
	border-bottom: 2px solid #000;
	font-size: 45px;
}
.banner h2 {
	background-color: #ed1c24;
	font-size: 28px;
	height: 54px;
	line-height: 34px;
}
#sticky-nav {
	background-color: #000;
	font: 20px "League Gothic", Impact, sans-serif;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	z-index: 10;
}
#sticky-nav .logo {
	text-align: center;
}
#sticky-nav .logo a {
	bottom: 8px;
	display: block;
	left: 50%;
	margin-left: -73px;
	position: absolute;
	padding: 0;
}
#sticky-nav .logo a img {
	max-height: 200px;
}
#sticky-nav.affix {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
#sticky-nav.affix .logo a {
	bottom: auto;
	margin-left: -24px !important;
	top: 4px;
}
#sticky-nav.affix .logo a img {
	max-height: 64px !important;
}
#sticky-nav .nav-container {
	margin: 0 auto;
	max-width: 680px;
}
#sticky-nav .nav-container ul[class*="custom-nav"] {
	float: left;
	padding: 0;
	margin: 0;
	width: 50%;
}
#sticky-nav .nav-container ul[class*="custom-nav"][class*="-left"] {
	padding-right: 40px;
}
#sticky-nav .nav-container ul[class*="custom-nav"][class*="-left"] li {
	float: right;
}
#sticky-nav .nav-container ul[class*="custom-nav"][class*="-right"] {
	padding-left: 40px;
}
#sticky-nav .nav-container ul[class*="custom-nav"][class*="-right"] li {
	float: left;
}
#sticky-nav .nav-container ul[class*="custom-nav"] li {
	list-style: none;
	padding: 10px 5px;
}
#sticky-nav .nav-container ul[class*="custom-nav"] li a {
	color: #fff;
	position: relative;
}
#sticky-nav .nav-container ul[class*="custom-nav"] li a:hover {
	background: none;
	color: #fff200;
}
.section-video {
	margin-top: 56px;
	padding: 25px 0;
}
.section-join {
	background-color: #666;
	padding: 25px 0;
}
.section-join h3 {
	color: #fff200;
	font-size: 35px;
}

.section-join h4 {
	color: #fff200;
}

.section-join p,.section-join ul {
	color: #fff;
}

.section-join ul {
	font-size: 12px;
}
.section-join .mailing-list input {
	background-color: #eee;
	border: none;
	margin-bottom: 12px;
	padding: 5px;
	width: 100%;
}
.section-details {
	padding: 25px 0;
}

.section-details .upcoming-events h3 {
	color: #ed1c24;
	font-size: 35px;
	line-height: 24px;
	margin: 20px 0 0;
}
.section-details .upcoming-events ul {
	background-color: #ed1c24;
	color: #fff;
	padding: 20px;
}
.section-details .upcoming-events ul li {
	list-style: none;
	margin-bottom: 12px;
}
.section-details .upcoming-events ul li h4{
	margin-top: 4px;
	margin-bottom: 4px;
}
.section-details .upcoming-events ul li a{
	color: #ccc;
}
.section-details .upcoming-events ul li a:hover{
	color: #333;
}
.section-boardmembers {
	background-color: #ed1c24;
	color: #fff;
	padding: 15px 0 30px;
}
.section-boardmembers h3 {
	font-size: 35px;
}
.section-boardmembers ul {
	margin: 0;
	padding: 0;
}
.section-boardmembers ul li {
	line-height: 1.5;
	list-style: none;
}
footer {
	background: #000;
	text-align: center;
}
footer ul {
	margin: 0;
	padding: 15px 0;
}
footer ul li {
	display: block;
	list-style: none;
}
footer ul li a {
	color: #fff200;
	font-size: 18px;
	text-decoration: none;
}
footer ul li a:hover {
	color: #fff;
	text-decoration: none;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.banner h1,
	.banner h2 {
		display: inline-block;
		left: 50%;
		padding: 10px 15px;
		position: absolute;
		z-index: 10;
	}
	.banner h1 {
		bottom: 54px;
		margin-left: -380px;
	}
	.banner h1 span {
		display: inline-block;
		text-align: left;
		width: 260px;
	}
	.banner h1 span:first-child {
		margin-right: 195px;
		text-align: right;
	}
	.banner h2 {
		bottom: 0;
		font-size: 30px;
		height: 54px;
		margin-left: -320px;
	}
	.banner h2 span {
		display: inline-block;
		text-align: left;
		width: 210px;
	}
	.banner h2 span:first-child {
		margin-right: 175px;
		text-align: right;
	}
	#sticky-nav {
		font-size: 30px;
	}
	#sticky-nav .logo a {
		margin-left: -95px;
	}
	#sticky-nav .logo a img {
		max-height: none;
	}
	#sticky-nav .nav-container ul[class*="custom-nav"] li {
		padding: 10px 15px;
	}
	footer ul li {
		color: #fff;
		display: inline-block;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}