@font-face {
  font-family: Chalet;
  src: url("/resources/fonts/chaletlondonnineteensixty.woff");
  font-weight: bold; }
h3.pageTitle {
  margin-top: 0; }

a {
  text-decoration: none;
  color: #006699; }

a:hover, .navMenu a:hover {
  color: #ed1c24; }

body {
  font: 100% Lato, Arial, Helvetica, sans-serif;
  color: #333333;
  margin: 0;
  padding: 0; }

#bodyWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(1.5%, white));
  background-image: -o-linear-gradient(bottom, #666666 0%, white 1.5%);
  background-image: -moz-linear-gradient(bottom, #666666 0%, white 1.5%);
  background-image: -webkit-linear-gradient(bottom, #666666 0%, white 1.5%);
  background-image: -ms-linear-gradient(bottom, #666666 0%, white 1.5%);
  background-image: linear-gradient(to bottom, #666666 0%, white 1.5%);
  padding-top: 30px; }

#body {
  width: 900px;
  margin: auto;
  text-align: left; }

#body {
  width: 900px;
  margin: auto;
  text-align: left; }

.homeHeaderWrapper {
  height: 292px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(1, #333333));
  background-image: -o-linear-gradient(bottom, black 0%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, black 0%, #333333 100%);
  background-image: -webkit-linear-gradient(bottom, black 0%, #333333 100%);
  background-image: -ms-linear-gradient(bottom, black 0%, #333333 100%);
  background-image: linear-gradient(to bottom, black 0%, #333333 100%);
  text-align: center;
  color: #ed1c24; }

.homeHeader {
  width: 900px;
  margin-left: auto;
  margin-right: auto; }

.homeHeader .tagline {
  font-family: Chalet, Oxygen, Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding-top: 10px;
  text-transform: uppercase; }

.homeHeader .tagline span {
  display: block;
  width: 336px; }

.homeHeader .tagline .a {
  float: left;
  text-align: right; }

.homeHeader .tagline .b {
  float: right;
  text-align: left; }

.homeHeader .name {
  font-family: Chalet, Oxygen, Arial, Helvetica, sans-serif;
  font-size: 2.2em; }

.homeHeader .name span {
  display: block;
  width: 336px;
  margin-top: -3.2em;
  text-shadow: 0px 0px 2px #333333; }

.homeHeader .name .a {
  float: left;
  text-align: right; }

.homeHeader .name .b {
  float: right;
  text-align: left; }

.homeHeader img {
  margin-left: auto;
  margin-right: auto;
  width: 228px;
  height: 312px; }

.sidebar {
  position: relative;
  float: right; }

.content-wrapper {
  border-left: 2px solid #b20000;
  border-right: 2px solid #b20000;
  margin: 0 auto;
  width: 550px;
  text-align: left; }

.content-border {
  border-top: 2px solid #b20000;
  width: 10%; }

.content-border-l {
  margin-left: -2px;
  float: left; }

.content-border-r {
  float: right;
  margin-right: -2px; }

.content {
  padding: 25px; }

.subscribeWidget input {
  width: 100%; }

.pure-button-primary {
  background-color: #006699;
  color: #fff201; }

#footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 500px; }

#footer a {
  margin: 0 10px; }

.socialWidget {
  clear: both;
  min-height: 29px;
  margin-bottom: 10px; }

.socialWidget a {
  display: block;
  margin-left: 34px; }

.fbLogo {
  display: block;
  float: left;
  background: url("/images/fb_logo.png") center center no-repeat;
  height: 29px;
  width: 29px; }

.twitterLogo {
  display: block;
  float: left;
  background: url("/images/twitter_logo.png") #55acee center center no-repeat;
  height: 29px;
  width: 29px; }

div.jcarousel {
  position: relative;
  overflow: hidden;
  width: 500px; }

ul.jcarousel {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

ul.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
  width: 500px; }

.navMenu {
  text-align: left;
  float: left; }

.navMenu a {
  font-size: 1.2em;
  font-family: Chalet, Oxygen, Arial, Helvetica, sans-serif;
  display: block;
  color: #333333; }

.navMenu a.active {
  color: #b20000; }

.error {
  color: #ed1c24; }

.eventDetails {
  padding-left: 20px; }

.softScript {
  font-style: italic;
  color: #777777;
  font-size: 90%; }
