<h3>About SF City FC</h3>

<p>
    San Francisco City Football Club is a community-based football club that has been active since 2001.
    At the adult level, the Club currently competes in the Premier Division of the
    San Francisco Soccer Football League (“SFSFL”), one of the oldest and most competitive amateur leagues in the United States.
</p>

<p>
    With the endorsement of the San Francisco Football Supporters Association,
    SF City FC will expand to the semi-professional level as a supporter owned and
    controlled club. The Club has submitted an application to join the NPSL, a semi-
    professional national league at the 4th division of the U.S. Soccer Pyramid.
</p>

<p>
    Under the proposed supporter ownership structure, annual membership dues will
    entitle a vote on club matters, election of a supermajority of the club governing
    board, and season tickets to club home games. A private investor group will have
    minority (non-controlling) board representation as well. This structure will help
    ensure financial flexibility during the start-up phase and help satisfy U.S. Soccer
    requirements for higher-level competition.
</p>

<p>
    In 2012 SF City, launched the SF City Juniors U-8 program. The Club is
    committed to partnering with the San Francisco youth soccer community and
    hopefully expanding its youth academy operations across different age groups and
    levels of competition.
</p>

<p>
    Our goal is to expand to 10,000 active members and advance to the highest
    level of U.S. Soccer Competition by 2020. Our mission is to provide top quality
    football and honor the civic and sporting legacy of San Francisco, while acting
    in meaningful service to the local community, and offering local youth the
    opportunity to learn and grow as students of the game & citizens in San Francisco’s
    unique cultural environment.
</p>


