<h3 class="pageTitle">Upcoming Events</h3>

<p>5/26 7:30pm - American Outlaws Party @ McTeagues </p>
<p>5/27 3:00pm - USMNT @ Candlestick American Outlaws Tailgate </p>
<p>6/4 6:00pm -  Innovation in the Beautiful Game Panel Meetup @ Pivotal Labs </p>
<p><strong>6/5 7:00pm - SF City Kickoff Social @ Barrel Head</strong></p>