<h3>Become a member</h3>

<h4>$50 Annual Member</h4>

<ul>
    <li>Inaugural SF City FC Scarf</li>
    <li>Home Season Tickets to first season matches</li>
    <li>Vote on major club matters including Board elections</li>
    <li>Eligibility for Board membership</li>
</ul>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="business" value="membership@sfcityfc.com">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="SF City FC Annual Membership">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="src" value="1">
    <input type="hidden" name="a3" value="50.00">
    <input type="hidden" name="p3" value="1">
    <input type="hidden" name="t3" value="Y">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribe_LG.gif:NonHostedGuest">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>




<h4>$350 Founding Member Lifetime Membership</h4>
<ul>
    <li>Inaugural SF City FC Jersey</li>
    <li>Inaugural SF City FC Scarf</li>
    <li>Home Season Tickets to first season matches/Priority Annual Membership Ticketing benefits for future seasons</li>
    <li>Vote on major club matters including Board elections</li>
    <li>Eligibility for Board membership</li>
</ul>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="membership@sfcityfc.com">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="SF City FC Lifetime Membership">
    <input type="hidden" name="amount" value="350.00">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<p>
    We use <a href="https://www.paypal.com/webapps/mpp/paypal-safety-and-security"><img src="images/paypal-card.png" height="64" width="64"/></a> to process our memberships.
</p>



<p> <em>Please read <a href="#" id="grievance-link">this important update</a> regarding our NPSL Application</em> </p>

<div id="grievance-explanation" style="display: none">
    <h4>Background:</h4>

    <p>
        The SF City project organizers feel it is extremely important to provide folks who
        are interested in becoming members and supporters of SF City with an update on the status of
        our application to join the NPSL Golden Gate Conference.
    </p>

    <p>
        Our initial application to join the NPSL was filed in March. You can view the application <a href="npsl-application">here</a>.
    </p>
    <p>
        Unfortunately, we were notified that our initial application was blocked due to the existence of
        another San Francisco team that competes in the NPSL Golden Gate Conference, the San
        Francisco Stompers. This action was taken based on on a “territorial exclusivity” provision in the
        NPSL Bylaws.
    </p>

    <p>
        While we have great respect for the Stompers organization (and think it would be really cool to
        have a “derby” rivalry match against them), we believe very strongly that access to competition
        and open market choices create better outcomes than a system based on exclusivity. Based
        on our understanding of the relevant U.S. Soccer Federation Bylaws and state and federal laws
        regarding restraint of trade, we believe our position is in agreement with the rules that govern
        soccer competition and economic activity in California and the United States.
    </p>

    <h4>The Grievance:</h4>

    <p>
        Based on our understanding of the rules and laws that govern these matters,
        we filed a formal Grievance with U.S. Soccer seeking to enforce what we believe are plainly
        stated rules regarding access to competition. You can view our filed Grievance <a href="ussf-appeal">here</a>.
    </p>



    <p>
        While we are confident that the outcome of this situation will ultimately be resolved in our favor,
        we can’t be 100% sure and we want our supporters and potential members to know what is
        going on before purchasing a Club membership. In the event that our Grievance is unsuccessful
        and we are excluded from NPSL competition next season, the current SF City members and
        Organizing Committee are committed to working with members on a satisfactory outcome,
        <em>including refunding membership dues if necessary.</em>
    </p>


    <p>
        While we regret these circumstances, we are extremely excited and optimistic as we move
        forward with the SF City membership launch and hope to build an organization that will compete
        at the highest levels of U.S. Soccer in the near future. Thank you and please feel free to e-
        mail us at jacques@sfcityfc.com if you have any questions about this situation or anything else
        regarding the Club and Club membership.
    </p>

    <a href="#" id="grievance-complete">Back to Memberships</a>

</div>