
<span class="formMessage"></span>

<div class="subscribeWidget">
    <form class="pure-form pure-form-stacked">
        <h3 class="pageTitle">Be a part of building San Francisco City FC!
            Supporter Owned. City Football.<br />
            Subscribe to the SF City newsletter.</h3>


        <fieldset class="pure-group">
            <input type="email" name="email" placeholder="Email*" required>
            <input type="text" name="name" placeholder="Name*" required>
        </fieldset>
        <fieldset class="pure-group">
            <input type="tel" name="phone" placeholder="Phone">
        </fieldset>


        <button type="submit" class="pure-button pure-button-primary">Subscribe</button>
    </form>

</div>