
<div class="socialWidget twitterWidget">
    <div class="twitterLogo"></div>
    <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%2F&region=follow_link&screen_name=SFCityFC&tw_p=followbutton&variant=2.0" target="_blank">@SFCityFC</a>
    <a href="https://twitter.com/hashtag/CityFootball" target="_blank">#cityfootball</a>

</div>